{{ template "header.html" . }}

<!-- 头结束 -->
<header>
    <a href="#"><img src="{{ url .ReqPath "static/img/default-logo.png" }}" alt="logo" /></a>
</header>
<section class="login-container">
    <form
    id="loginForm"
    @submit.prevent="login"
    >
        <div class="form-group">
            <label for="userid"
                >用户名</label
            >
            <input
                required
                v-model="loginForm.account"
                id="login"
                name="sccount"
                type="text"
                class="form-control"
                placeholder="请输入用户名"
                value=""
                autofocus
            />
        </div>
        <div class="form-group">
            <label for="password"
                >密码</label
            >
            <div class="input--suffix">
                <input
                    required
                    v-model="loginForm.password"
                    id="password"
                    name="password"
                    :type="showPassword?'text':'password'"
                    class="form-control"
                    placeholder="请输入密码"
                    value=""
                    autofocus
                />
                <span class="input__suffix">
                    <span class="input__suffix-inner">
                    <i @click="showPassword = !showPassword" class="iconfont iconview"></i>
                    </span>
                </span>
            </div>
        </div>
        <p v-if="showLoginError" class="text-left error-text">用户名或密码不正确</p>
        <button
            class="
                btn
                btn-primary
                btn-md
                btn-block
            "
        >
            登录
        </button>
    </form>
</section>
<section class="auth-types">
    <span class="login-button-show methods-desc">
        <span>第三方登录：</span>
    </span>
    {{ range $c := .Connectors }}
        {{ if and (ne $c.Name "Email") (eq $c.Type "github") }}
        <a href="{{ $c.URL }}">
            <span class="login-button-show">
                <i class="iconfont icon{{ $c.Type }}"></i>
            </span>
        </a>
        {{ end }}
        {{ if and (ne $c.Name "Email") (eq $c.Type "oauth") }}
        <a href="{{ $c.URL }}">
            <span class="login-button-show">
                <i class="iconfont icon{{ $c.Type }}"></i>
            </span>
        </a>
        {{ end }}
        {{ if and (ne $c.Name "Email") (eq $c.Type "ldap") }}
        <a href="{{ $c.URL }}">
            <span class="login-button-show">
                <i class="iconfont icon{{ $c.Type }}"></i>
            </span>
        </a>
        {{ end }}
        {{ else }}
        <a href="{{ $c.URL }}">
            <span class="login-button-show">
                <i class="iconfont iconotherauth"></i>
            </span>
        </a>
    {{ end }}
    <span class="divide">|</span>
    <a href="/signin?findPassword=true">
        <span class="login-button-show function-btn">
            <span>找回密码</span>
        </span>
    </a>
    <template v-if="showRegistration">
        <span class="divide">|</span>
        <a href="/signin?signUp=true">
            <span class="login-button-show function-btn">
                <span>注册</span>
            </span>
        </a>
    </template>
  </section>
<!-- 尾结束 -->

{{ template "footer.html" . }}
